<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>

<form method="POST" action="/uploads" enctype="multipart/form-data" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">choose image</label>
  <div class="col-md-4">
    <input id="file" name="myImage" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="uploadphoto">uploadphoto</label>
  <div class="col-md-4">
    <button id="uploadphoto" name="" class="btn btn-primary">upload</button>
  </div>
</div>

</fieldset>
</form>

</body>
</html>